.menu {
  float: left;
  overflow: auto;
  margin: 0 auto;
  height: 100vh;
}

header.menu {
  background: #f0f2a7;
  width: 80%;
  position: relative;
}
header.menu img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main.menu {
  width: 20%;
  background: #4465a6;
}

main.menu img {
  margin: 5%;
  margin-top: 50%;
  width: 90%;
  height: 20%;
}

main.menu form {
  margin: 0 auto;
  text-align: center;
}

main.menu form div {
  display: block;
  margin: 0 auto;
  margin-top: 4%;
}
main.menu form div img {
  position: relative;
  top: 5px;
  margin: 0;
  margin-right: 5px;
  height: 7%;
  width: 7%;
}
main.menu form div input {
  width: 70%;
  height: 7%;
}
main.menu form div input[name="enviar"]:hover {
  background: #d9af32;
  border: #d9af32 solid 1px;
}
main.menu form div input[name="enviar"] {
  background: white;
  border: white solid 1px;
}
#enviar {
  margin-top: 20%;
}

@media (max-width: 800px) {
  main.menu {
    width: 40%;
  }
  header.menu {
    width: 60%;
  }
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}

.estiloFondoPrincipal {
  position: relative;
  min-height: 90vh;
  background-color: #f0f2a7;
  display: block;
  height: 180%;
  margin: 0 auto;
  padding: 0;
}

.estiloCabeceraPrincipal {
  background-color: #324fa6;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
.estiloCabeceraPrincipal h1 {
  min-width: 300px;
  color: white;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.estiloCabeceraPrincipal div {
  display: flex;
  align-items: center;
}
.estiloCabeceraPrincipal img:first-of-type {
  margin-right: 20px;
}
.estiloCabeceraPrincipal img {
  height: 60px;
}
.estiloCabeceraPrincipal div span {
  color: white;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
}
.estiloCabeceraPrincipal div img {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
}
.estiloPiePrincipal {
  width: 100%;
  height: 4em;
  background-color: #d9af32;
  margin: 0 auto;
  bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.estiloFondoPrincipal p {
  margin: 0;
}
.estiloPiePrincipal img {
  align-self: center;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.estiloPiePrincipal address {
  align-self: center;
  margin-left: 10px;
}
.estiloPiePrincipal .contacto {
  align-self: center;
  display: flex;
  margin-right: 10px;
}
.estiloPiePrincipal .contacto div {
  display: inline-flex;
  flex-wrap: nowrap;
  border-left: solid 4px white;
  padding-left: 10px;
}
.estiloPiePrincipal .contacto span {
  display: inline-block;
  align-self: center;
  margin-right: 10px;
}
#cuerpo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15vh;
  padding-bottom: 15vh;
}
.estiloFondoPrincipal .cuadrados {
  display: inline-block;
  background: white;
  font-family: "Comfortaa", cursive;
  height: 300px;
  width: 500px;
  -moz-box-shadow: -25px -25px 0 5px #4465a6;
  -webkit-box-shadow: -25px -25px 0 5px#4465A6;
  box-shadow: -25px -25px 0 5px #4465a6;
}
.botonEntrar {
  cursor: pointer;
  color: white;
  background: #4465a6;
  width: 40%;
  height: 20%;
  float: right;
  margin-right: 30%;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.estiloFondoPrincipal h2 {
  margin-left: 20px;
}
.botonEntrar:hover {
  cursor: pointer;
  color: white;
  background: hsl(225, 54%, 32%);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
